.b-cart-empty-wrapper {
    margin-bottom: 90px;
    min-width: 820px;

    .b-cart {
        text-align: center;
        padding-top: 20px;

        .b-cart-title {}

        .b-cart-empty {

            .b-plaintext-wrapper {
                margin: 10px 0 50px;

                .b-plaintext {
                    color: #777777;
                    font-size: 18px;
                    line-height: 26px;
                }
            }

            .b-image {}

            .b-go-back-wrapper {
                margin: 75px 0 0;

                .b-go-back {
                    display: inline-block;
                    font-weight: 700;
                    background: #282828;
                    color: #FFFFFF;
                    padding: 15px 27px;
                    border-radius: 30px;
                    transition: all 300ms;
                }
            }
        }
    }
}