$box-shadow: 3px 3px 5px rgb(229 220 220 / 75%);

.b-cart {
    display: flex;
    align-items: center;
    color: #FFF;
    padding: 15px 25px;
    background: #FE5F1E;
    box-shadow: $box-shadow;
    border-radius: 30px;
    margin-left: auto;

    .b-link {
        color: #FFF;
        text-decoration: none;
        font-weight: 700;
        box-shadow: none;
        
        &:hover {
            text-decoration: none;
        }
    }

    .b-price {

    }
    
    .b-separator {
        margin: 0 10px;
    }

    .b-items-total {

        .b-link {
            background: url("/cart_icon_small.png") no-repeat 0 0;
            padding-left: 25px;
        }
    }
}