.b-cart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px 0 160px;

    .b-cart {
        width: 820px;

        .b-cart-item-wrapper {
            height: 180px;
            border-top: 2px #F7F7F7 solid;
            display: flex;
            align-items: center;

            .b-cart-item {
                display: flex;
                width: 100%;
                align-items: center;

                .b-image-wrapper {
                    margin-right: 15px;

                    .b-image {

                    }
                }
                
                .b-title-wrapper {
                    width: 280px;
                    margin-right: 68px;
                    line-height: 26px;

                    .b-title {
                        
                    }
                    .b-plaintext {
                        color: #8D8D8D;
                    }
                }
                
                .b-quantity-wrapper {
                    margin-right: 90px;

                    &>button {
                        cursor: pointer;
                        border: 2px solid #FE5F1E;
                        border-radius: 30px;
                        padding: 5px 11px;
                        color: #FE5F1E;
                        font-size: 18px;
                    }

                    .b-quantity-decrement {

                    }
                    .b-quantity {
                        display: inline-block;
                        padding: 0 12px;
                    }

                    .b-quantity-increment {
                        padding: 5px 12px;
                    }
                }

                .b-price-wrapper {
                    .b-price {

                    }
                }

                .b-delete-item-wrapper {
                    margin-left: auto;

                    .b-delete-item {
                        cursor: pointer;
                        color: #D0D0D0;
                        border: 2px solid #D7D7D7;
                        border-radius: 30px;
                        padding: 5px 10px;
                    }
                }
            }
        }
    }
}