.b-cart-summary-wrapper {
    margin-bottom: 40px;

    .b-cart-summary {
        display: flex;

        .b-cart-quantity {
            .b-plaintext {
                &>span {
                    font-weight: 700;
                    font-size: 22px;
                }
            }
        }

        .b-cart-price {
            margin-left: auto;

            .b-plaintext {
                &>span {
                    color: #FE5F1E;
                    font-size: 22px;
                }
            }
        }

        & p{
            font-size: 22px;
        }
    }
}