@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    src: local('Proxima Nova'), url('https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Regular Italic.woff') format('woff');
}
@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    src: local('Proxima Nova'), url('https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Regular.woff') format('woff');
}
@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 250;
    src: local('Proxima Nova'), url('https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Thin Italic.woff') format('woff');
}
@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 250;
    src: local('Proxima Nova'), url('https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Thin.woff') format('woff');
}
@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 300;
    src: local('Proxima Nova'), url('https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Light.woff') format('woff');
}
@font-face {
    font-family: 'Proxima Nova';
    font-style: italic;
    font-weight: 300;
    src: local('Proxima Nova'), url('https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Light Italic.woff') format('woff');
}
@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    src: local('Proxima Nova'), url('https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Semibold Italic.woff') format('woff');
}
@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    src: local('Proxima Nova'), url('https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Semibold.woff') format('woff');
}
@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    src: local('Proxima Nova'), url('https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Bold Italic.woff') format('woff');
}
@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    src: local('Proxima Nova'), url('https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Bold.woff') format('woff');
}
@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 800;
    src: local('Proxima Nova'), url('https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Extrabold Italic.woff') format('woff');
}
@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 800;
    src: local('Proxima Nova'), url('https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Extrabold.woff') format('woff');
}
@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 900;
    src: local('Proxima Nova'), url('https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Black Italic.woff') format('woff');
}
@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 900;
    src: local('Proxima Nova'), url('https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Black.woff') format('woff');
}


/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom CSS */

body {
	background: #FFDF8C;
}

p, span, a, h1, h2, h3, h4, h5, li {
	font-family: 'Proxima Nova' , Arial, Helvetica, sans-serif;
	font-size: 16px;
}

h1 {
	font-size: 32px;
	font-weight: 700;
}

h2 {
	font-size: 24px;
    font-weight: 800;
}
h3 {
	font-size: 22px;
	font-weight: 700;
}


a {
	text-decoration: none;
}

html, body, #__next {
	
}

#__next {
	display: flex;
}
