.b-logo {
    margin-right: 20px;
    cursor: pointer;
}

.b-header-title-wrapper {

    .b-header-title {
        color: #181818;
        font-style: normal;
        text-transform: uppercase;
    }

    .b-plain-text {
        color: #7B7B7B;
        font-weight: 400;
    }
}